<!-- <app-counter></app-counter> -->
<!-- <app-computed-signals></app-computed-signals> -->
 <!-- <app-effects></app-effects> -->
  <!-- <app-equality-functions></app-equality-functions> -->
   <!-- <app-untracked-dependencies></app-untracked-dependencies> -->

   <!-- <app-cleanup-signals
    (closeToogle)="onToogleComponent()"
    *ngIf="componentToogle()"
    ></app-cleanup-signals> -->

    <app-signals-rxjs></app-signals-rxjs>

    <!-- <button (click)="onToogleComponent()">toogle</button> -->


<router-outlet></router-outlet>
