<!-- <app-counter></app-counter> -->
<!-- <app-computed-signals></app-computed-signals> -->
 <!-- <app-effects></app-effects> -->
  <!-- <app-equality-functions></app-equality-functions> -->
   <!-- <app-untracked-dependencies></app-untracked-dependencies> -->

   <!-- <app-cleanup-signals
    (closeToogle)="onToogleComponent()"
    *ngIf="componentToogle()"
    ></app-cleanup-signals> -->

    <!-- <app-signals-rxjs></app-signals-rxjs> -->

    <!-- <app-to-observable></app-to-observable> -->

    <!-- <app-output-from-observable
    (nameChange)="onNameChange($event)"
    ></app-output-from-observable> -->

    <!-- <app-signals-input
    [firstName]="firstName"
    [lastName]="lastName"
    [age]="age"
    ></app-signals-input> -->

    <!-- <app-signals-input-extra
    [disabled]="'kfjds'"
    ></app-signals-input-extra> -->

    <app-two-way-data-binding-signal
    [checked]="parentChecked"
    [disabled]="isDisabled"
    (checkedChange)="handleCheckedChange($event)"
    ></app-two-way-data-binding-signal>
    <br>
    <span>checked state in parent: {{parentChecked}}</span>

    <!-- <button (click)="onToogleComponent()">toogle</button> -->


<router-outlet></router-outlet>
